@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;

    & div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      margin: 4px;
      border: 4px solid #3b82f6;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #3b82f6 transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .modal-wrapper {
    @apply w-screen h-screen bg-slate-400 flex justify-center items-center;
    @apply z-[1200] fixed top-0 left-0 bg-opacity-80 overflow-y-auto;

    & .modal-root {
      @apply bg-white rounded-md p-4 shadow-lg shadow-slate-700 max-w-full m-auto;

      &.modal-xs { width: 400px; }
      &.modal-sm { width: 640px; }
      &.modal-md { width: 768px; }
      &.modal-lg { width: 1024px; }
      &.modal-xl { width: 1280px; }
    }
  }

  .button {
    @apply px-4 py-2 rounded-md;
    min-width: 120px;
  }
}
